{
  "extends": "stylelint-config-standard",

  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],

  "rules": {
    "number-leading-zero": "never",
    "at-rule-no-unknown": null,
    "selector-list-comma-newline-after": null,
    "no-descending-specificity": null,
    "selector-descendant-combinator-no-non-space": null,
    "selector-attribute-quotes": "always",
    "string-quotes": "double",
    "function-url-quotes": "always",
    "at-rule-empty-line-before": [
      "always", {
        "ignore": ["after-comment"],
        "ignoreAtRules": [ "else", "import", "include" ],
      }
    ],
    "block-opening-brace-space-before": "always",
    "block-closing-brace-newline-after": [
      "always", {
        "ignoreAtRules": [ "if", "else", "error", "warn", "info" ]
      }
    ],
    "at-rule-name-space-after": "always",

    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true
  }
}
