.arrow-link {
  display: inline-block;
  font-weight: 500;
  position: relative;
  text-decoration: underline;
}

.arrow-link svg {
  fill: currentColor;
  position: relative;
  top: 1px;
}

/* left-facing arrow link */
.arrow-link.-direction\:left {
  background-position: 100% 100%;
}

.arrow-link.-direction\:left svg {
  margin-right: 8px;
}

/* right-facing arrow link */
.arrow-link.-direction\:right {
  background-position: 0 100%;
}

.arrow-link.-direction\:right svg {
  margin-left: 8px;
}

/* disabled state */
.arrow-link.-disabled {
  background: none;
  cursor: default;
  opacity: .4;
  text-decoration: none;
}

/* backplane for hover/active states */
.arrow-link:not(.-disabled) {
  @include link-backplane;
}
