/* -----  Regular Card Grid  ------------------------------------------------ */

.cardgrid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}

.cardgrid > * {
  min-width: 0;
  padding-left: 3rem;

  @include mq(from s) {
    width: 50%;
  }

  @include mq(from m) {
    width: 33.33%;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.cardgrid-content,
.cardgrid-link {
  display: block;
  height: 100%;
  position: relative;
}

