.cheatsheet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-size: .875rem;
  grid-gap: 2px;
  margin-bottom: 1.5rem;
}

@include mq(from s) {
  .cheatsheet-grid {
    grid-auto-rows: 1fr;
  }
}

.cheatsheet-grid h2 a {
  text-decoration: none;
}
.cheatsheet-grid-item {
  background: $color-background;
  color: rgba($color-anthracite, .8);
}
.cheatsheet-grid-item a {
  text-decoration: none;
  display: block;
  height: 100%;
  padding: .75rem;
}
.cheatsheet-grid-item h3 {
  margin-bottom: .5rem !important;
  margin-top: 0 !important;
  overflow: hidden;
  font-family: $font-mono;
  text-overflow: ellipsis;
  font-size: .875rem;
  letter-spacing: 0;
  font-weight: 700;
  color: $color-black !important;
}
.cheatsheet-grid-item a *:last-child {
  margin-bottom: 0;
}
