.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.clients li {
  align-self: center;
  margin: .75rem;
  opacity: .5;
  text-align: center;
}

.clients img {
  max-width: 10rem;
}

@supports (display: grid) {
  .clients {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);

    @include mq(from m) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .clients li {
    margin: 0;
  }
}
