/* -----  Global Styles for Inline Code ------------------------------------- */

code {
  background: rgba($color-black, .07);
  border-radius: 3px;
  box-decoration-break: clone;
  display: inline-block;
  font-family: $font-mono;
  font-size: .875em;
  line-height: inherit;
  padding: .05em .5em;
}

/**
 * 1. Font-weight of 500 is inherited from most headlines of
 *    most levels, which will fallback to a font-weight of
 *    400 and that looks way to thin. Manually setting it to
 *    700. It looks a bit to fat now, but hey: It's still
 *    better than with the regular cut of Roboto Mono.
 */
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
.h2 code,
.h3 code,
.h4 code,
.h5 code,
.h6 code {
  font-weight: 400; /* 1 */
}

/* -----  Syntax-Highlighting for Code Blocks ------------------------------- */

.code,
.codeblock-figure,
.filesystem {
  background: $color-black;
  border-radius: $border-radius;
  color: $color-syntax;
  font-family: $font-mono;
  font-size: $font-size-code;
  letter-spacing: 0;
  line-height: ($line-height-code / $font-size-code);
  margin-bottom: 1.5rem;

  ::selection {
    background: rgba($color-kirby-blue, .4);
    color: inherit;
  }

  code {
    background: transparent;
    font-size: inherit;
    line-height: inherit;
  }
}

.codeblock-figure {
  overflow: hidden;
  position: relative;

  /**
   * 1. Override default element spacing.
   */
  > pre {
    margin-bottom: 0;
  }
}

.code > code,
.codeblock-figure figcaption {
  color: $color-white;
  font-size: inherit;
  letter-spacing: 0;
  line-height: inherit;
  text-align: left;
}

.code > code,
.filesystem {
  display: block;
  margin: 0;
  padding: 1rem;
}

/**
 * 1. Increase specificity to allow overriding of `<figure>``
 *    element inside of `.text` blocks.
 */
.filesystem.filesystem /* 1 */ {
  margin-bottom: $element-spacing;
  margin-top: 0;
}

.codeblock-figure figcaption {
  border-bottom: 1px solid lighten($color-dark-gray, 5%);
  font-weight: 500;
  padding: .75rem 1rem;
}

.code > code,
.codeblock-figure > code,
.codeblock-figure > .filesystem {
  overflow-x: auto;

  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
}

/* -----  Filesystem Component  --------------------------------------------- */

$color-filesystem-line: mix($color-background, $color-black, 25%);

/**
 * 1. Increase specificity to override default `.text` styles
 */
.filesystem-items.filesystem-items /* 1 */ {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filesystem li {
  margin: 0;
  padding: 0 0 .125rem; // 0 0 2px
  position: relative;
}

/**
 * 1. Prevents the `<span>` from collapsing, if it does not
 *    have any text-content.
 */
.filesystem span {
  display: block;
  min-height: 1.5rem; /* 1 */
  padding-left: 1.5rem; // 24px
}

.filesystem .icon {
  position: absolute;
  top: .25rem; // 4px
}

/* Filesystem Lines */

.filesystem li li {
  background: linear-gradient($color-filesystem-line, $color-filesystem-line) .4375rem 0 / .0625rem 100% no-repeat, linear-gradient($color-filesystem-line, $color-filesystem-line) .5rem .625rem / .5rem .0625rem no-repeat;
  padding-left: 1.625rem; // 26px
}

.filesystem li li:last-child {
  background: linear-gradient($color-filesystem-line, $color-filesystem-line) .4375rem 0 / .0625rem .6875rem no-repeat, linear-gradient($color-filesystem-line, $color-filesystem-line) .5rem 10px / .5rem .0625rem no-repeat;
}

/* Filesystem icons */

.filesystem .icon-folder-collapsed,
.filesystem .icon-folder-expanded,
.filesystem .icon-php,
.filesystem .icon-css {
  fill: $color-syntax-blue;
}

.filesystem .icon-image,
.filesystem .icon-code,
.filesystem .icon-archive {
  fill: $color-syntax-green;
}

.filesystem .icon-video {
  fill: $color-syntax-purple;
}

.filesystem .icon-javascript,
.filesystem .icon-html,
.filesystem .icon-yaml {
  fill: $color-syntax-orange;
}

.filesystem .icon-text {
  fill: $color-syntax-yellow;
}

.filesystem .icon-markdown,
.filesystem .icon-document,
.filesystem .icon-font {
  fill: $color-syntax-aqua;
}

.filesystem .icon-git,
.filesystem .icon-gulpfile,
.filesystem .icon-audio {
  fill: $color-syntax-red;
}

/* -----  Syntax Highlighting (Prism.js) ------------------------------------ */

.code-token.code-punctuation {
  color: $color-syntax-light-gray;
}

.code-token.code-comment,
.code-token.code-doctype {
  color: $color-syntax-comment;
}

.code-token.code-tag,
.code-token.code-markup,
.code-token.code-variable,
.code-token.code-this,
.code-token.code-selector,
.code-token.code-key,
.code-token.code-kirbytag-bracket,
.code-token.code-prolog,
.code-token.code-delimiter {
  color: $color-syntax-red;
}

.code-token.code-constant,
.code-token.code-number,
.code-token.code-boolean,
.code-token.code-boolean.code-important,
.code-token.code-attr-name,
.code-token.code-kirbytag-attr,
.code-token.code-kirbytag-name,
.code-token.code-entity,
.code-token.code-bold,
.code-token.code-bold > .code-punctuation {
  color: $color-syntax-orange;
}

.code-token.code-keyword,
.code-token.code-italic,
.code-token.code-italic > .code-punctuation {
  color: $color-syntax-purple;
}

.code-token.code-function {
  color: $color-syntax-blue;
}

.code-token.code-operator,
.code-token.code-title {
  color: $color-syntax-aqua;
}

.code-token.code-string,
.code-token.code-attr-value,
.code-token.code-attr-value .code-punctuation,
.code-token.code-list.code-punctuation {
  color: $color-syntax-green;
}

.code-token.code-scope,
.code-token.code-class-name,
.code-token.code-property,
.code-token.code-url {
  color: $color-syntax-yellow;
}

/**
 * 1. Markdown list bullet.
 */
.code-token.code-title,
.code-token.code-kirbytag-bracket,
.code-token.code-list.code-punctuation /* 1 */ {
  font-weight: 700;
}

.code-token.code-title .code-punctuation {
  color: inherit;
}

/**
 * 1. Markdown bold text
 */
.code-token.code-bold /* 1 */ {
  font-weight: bold;
}

.code-token.code-italic {
  font-style: italic;
}

/* -----  Code Toolbar  ---------------------------------------------------------- */

:not(.codeblock-figure) > .code-toolbar {
  overflow: hidden;
  position: relative;
}

.code-toolbar .toolbar {
  background: $color-black;
  border-radius: 0 0 0 2rem; // 32px
  box-shadow: 0 0 30px 1.25rem $color-black; // 0 0 30px 20px
  opacity: 0;
  padding: .75rem .75rem .25rem .25rem; // 12px 12px 4px 4px
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s .1s;
}

.codeblock-figure:hover .toolbar,
.code-toolbar:hover .toolbar {
  opacity: 1;
  transition: opacity .2s;
}

.code-toolbar a {
  color: #999;
  cursor: pointer;
  display: block;
  font-family: $font-sans;
  font-size: .875rem; // 14px
  font-weight: 500;
  line-height: 1.5;
  position: relative;

  @include link-backplane($background: dark);
}

.code-toolbar a svg {
  fill: $color-white;
  position: relative;
  top: .125rem; // 2px
}

.code-toolbar a span {
  padding-left: 1ch;
}

.filesystem li.has-no-icon > span {
  font-family: $font-sans;
  padding-left: .125rem; // 2px
}
