.cta {
  align-items: flex-start;
  background: $color-black;
  border-radius: $border-radius;
  box-shadow: $shadow;
  display: inline-flex;
  font-family: $font-mono;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  outline-color: $color-focus-outline-alt;
  outline-offset: -5px;
  padding: .75rem 1rem;
  text-decoration: none;
}

/**
 * 1. Fixes a bug in Firefox (61.0.2) which prevents the
 *    text color from being inherited in the ways it is
 *    supposed in some cases.
 */
.cta,
.cta * {
  color: $color-white !important; /* 1 */
}

.cta .icon {
  flex-shrink: 0;
  margin-left: -.125rem;
  margin-right: .75rem;
  position: relative;
  top: .125rem; // 2px
}
