.docs-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
  padding-top: 6rem;
}

.docs-grid > * {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 3rem;
  width: 100%;
}

.docs-sidebar {
  order: 2;
}

.docs-sidebar .h1 {
  color: $color-border;
}

.docs-sidebar .h1 a {
  transition: color .3s;
}

.docs-sidebar .h1 a:hover {
  color: $color-black;
}

.docs-content {
  margin-bottom: 6rem;
  min-width: 0;
  order: 1;
}

@include mq(from m) {
  .docs-sidebar {
    order: 1;
    width: percentage(1 / 3);
  }

  .docs-content {
    margin-bottom: 0;
    order: 2;
    width: percentage(2 / 3);
  }
}

.docs-footer {
  border-top: 4px solid $color-background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 6rem;
  padding-top: 1rem;
}

.docs-footer a {
  align-items: center;
  display: flex;
  margin-top: .5rem;
  text-decoration: underline;
}

.docs-footer svg {
  margin-right: .5rem;
}

.docs-subpages {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.docs-subpages img {
  width: 3rem;
}
