.filter-hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/**
 * 1. Resets the default border-radius in Mobile Safari.+
 */
.filter-search {
  background: #000;
  border: 0;
  border-radius: 0; /* 1 */
  box-shadow: $shadow;
  color: #fff;
  flex-basis: 100%;
  font: inherit;
  margin-bottom: 1.5rem;
  padding: .25rem 1rem;

  @include mq(from m) {
    flex-basis: calc(66.66% - 1rem);
  }
}

.filter-search:focus {
  color: $color-syntax-yellow;
}

.filter-layout {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  margin-left: -3rem;
  position: relative;
}

.filter-layout > * {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 3rem;
  width: 100%;
}

.filter-sidebar {
  min-width: 0;
  order: 1;
}

.filter-overview {
  margin-bottom: 6rem;
  min-width: 0;
  order: 2;
}

@include mq(from m) {
  .filter-sidebar {
    width: 33.33%;
  }

  .filter-overview {
    margin-bottom: 0;
    width: 66.66%;
  }

  .filter-filters {
    left: 0;
    position: sticky;
    right: 0;
    top: 1.5rem;
  }
}

.filter-sidebar ul {
  margin-bottom: 3rem;
}

.filter-sidebar li {
  display: block;
  margin-bottom: .25rem;
}

.filter-sidebar a {
  align-items: center;
  color: $color-anthracite;
  display: flex;
  font-size: .75rem;
}

.filter-sidebar a img {
  height: 1.875rem;
  margin-right: .5rem;
  width: 1.875rem;
}

.filter-category-icon {
  align-items: center;
  background: #000;
  display: flex;
  height: 1.875rem;
  justify-content: center;
  margin-right: .5rem;
  width: 1.875rem;

  svg * {
    fill: #fff;
  }
}
