.footer {
  color: rgba($color-anthracite, .8);
  font-size: .875rem;
}

.footer-layout {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  padding-bottom: 12rem;
  padding-top: 7.5rem;
}

.footer-layout > * {
  min-width: 0;
}

@include mq(from m) {
  .footer-layout {
    grid-template-columns: 1fr 2fr;
  }
}

.footer a:hover {
  color: $color-black;
}

/* -----  Word Mark  -------------------------------------------------------- */
.footer-wordmark .h1 {
  color: $color-black;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.footer-copyright {
  line-height: 2em;
}

.footer-copyright a {
  display: block;
}

.footer-social {
  align-items: center;
  display: flex;
  margin-left: -.5rem;
  padding-top: 1.5rem;
}

.footer-social a {
  display: block;
  padding: .5rem;
}

/* -----  Footer Menu  ------------------------------------------------------ */
.footer-menu .h5 {
  color: $color-black;
  display: flex;
  height: 2rem;
  line-height: 3.25rem;
  margin-bottom: 1rem;
}

.footer-menu > ul {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  line-height: 2em;
}

@include mq(from s) {
  .footer-menu > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mq(from m) {
  .footer-menu > ul {
    grid-template-columns: repeat(5, 1fr);
  }
}

/**
 * 1. Eliminates space around image, important for vertical centering.
 */

.footer-partners svg {
  display: block;
  height: auto;
  width: 6rem;
}

.footer-partners svg * {
  fill: currentColor;
  transition: fill .3s;
}

.footer-partners a {
  display: block;
  margin-bottom: .25rem;
  padding: .5rem 0;
  transition: opacity .2s;
}

/* -----  Dark Them  ------------------------------------------------------ */

.footer.-theme\:dark {
  background: $color-dark-gray;
  color: $color-syntax-white;
}

.footer.-theme\:dark  a:hover {
  color: $color-white;
}

.footer.-theme\:dark .footer-wordmark .h1 {
  color: $color-white;
}

.footer.-theme\:dark .footer-wordmark path {
  fill: $color-white;
}

.footer.-theme\:dark .footer-menu .h5 {
  color: $color-white;
}
