.intro {
  color: rgba($color-anthracite, .8);
  font-size: 1.5rem;
  line-height: 1.375;
  max-width: 35rem;
}

.intro a {
  color: $color-black;
  font-weight: 500;
  letter-spacing: 0;
}

.intro :not(code) > a::after {
  color: $color-yellow;
  content: " ›";
}

.intro p {
  font-weight: 400;
  margin-bottom: 1.375em;
}

.intro > *:last-child {
  margin-bottom: 0;
}

.intro.-align\:center {
  margin: 0 auto;
  text-align: center;
}

.intro.-theme\:dark {
  color: $color-syntax-white;
  font-weight: 300;
  letter-spacing: .01em;
}

.intro.-theme\:dark a {
  color: $color-syntax-yellow;
}

.intro.-theme\:dark a::after {
  color: $color-white;
}
