.kosmos-issue {
  border: 2px solid rgba($color-syntax-white, .25);
  color: $color-syntax-white;
  display: block;
  margin-bottom: 1.5rem;
  padding: .75em;
}

.kosmos-issue .h3 {
  color: $color-syntax-yellow;
}

.kosmos-issue:hover {
  background: #fff;
  border-color: #fff;
  color: $color-black;
}

.kosmos-issue:hover .h3 {
  color: $color-yellow !important;
}

.kosmos-issue figure {
  padding-bottom: 66.66%;
  position: relative;
  background: darken($color-anthracite, 15%);
  margin-bottom: .75rem;
}
.kosmos-issue figure img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.kosmos-issue-excerpt {
  font-size: 16px;
  line-height: 16px;
  overflow: hidden;
  word-spacing: 1ch;
}

.kosmos-issue-excerpt b {
  background: linear-gradient($color-syntax-white, $color-syntax-white) 0 50% / 100% 6px no-repeat;
  color: rgba($color-white, 0);
  font-weight: 400;
}

.kosmos-issue:hover .kosmos-issue-excerpt b {
  background-image: linear-gradient($color-black, $color-black);
}

@supports (display: grid) {
  .kosmos-issues {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }

  .kosmos-issue {
    margin-bottom: 0;
  }

  .kosmos-issue-excerpt {
    height: 6rem;
  }
}
