.menu {
  align-items: center;
  display: flex;
  height: 6rem;
  line-height: 1;
}

.menu.background\:dark {
  color: #fff;
}

.menu-button {
  display: none;
}

.menu-container {
  display: flex;
}

.menu-items {
  align-items: center;
  display: flex;
}

.menu-item {
  align-items: center;
  display: flex;
  position: relative;
}

.menu-item > a {
  align-items: center;
  display: flex;
  height: 2rem;
  padding: 0 .75rem;
  position: relative;
}

.menu-item a[aria-current] {
  text-decoration: underline;
}

.menu-item.has-dropdown > a {
  padding-right: 1.75rem;
}

.menu-item.has-dropdown > a::after {
  content: "›";
  margin-top: -.4rem;
  position: absolute;
  right: .75rem;
  top: 50%;
  transform: rotate(90deg);
}

@include mq(from m) {
  .menu-dropdown {
    background: #000;
    box-shadow: $shadow;
    color: #fff;
    display: none;
    left: -.25rem;
    padding: .5rem 0;
    position: absolute;
    top: 100%;
  }

  .no-js .menu-item:hover .menu-dropdown,
  .menu-item.is-open .menu-dropdown,
  .no-js .menu-item:focus-within .menu-dropdown {
    display: block;
  }

  .menu-dropdown::before {
    border-bottom: 5px solid $color-black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    left: 2.125rem;
    margin-left: -5px;
    position: absolute;
    top: -5px;
  }

  .menu-dropdown a {
    display: block;
    font-size: .875rem;
    padding: .5rem 1rem;
    white-space: nowrap;
  }

  .menu-dropdown a:hover {
    background: $color-dark-gray;
  }

  .menu.background\:dark {
    .menu-dropdown {
      background: #fff;
      color: #000;
    }

    .menu-dropdown::before {
      border-bottom-color: #fff;
    }

    .menu-dropdown a:hover {
      background: $color-background;
    }
  }
}

.menu-trylovebuy {
  margin-left: 1rem;
}

.menu-trylovebuy .menu-item::after {
  content: "›";
}

.menu-trylovebuy .menu-item:last-child::after {
  content: "";
}

.menu-trylovebuy .menu-item a {
  font-weight: 700;
  padding: 0 .5rem;
}

.menu-trylovebuy svg * {
  fill: currentColor;
}

@keyframes menu-pulsing-heart {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.menu-trylovebuy a:hover svg {
  animation: menu-pulsing-heart .6s linear 1 forwards;
}

@include mq(to m) {
  .menu-toggle {
    color: inherit;
    cursor: pointer;
    height: 14px;
    position: relative;
    width: 16px;
  }

  .menu-toggle i {
    background: currentColor;
    display: block;
    height: .125rem;
    width: 100%;
  }

  /**
   * 1. Sets spacing between horizontal bars of hamburger icon.
   *    Could be done easier with flexbox, but that does not
   *    work in some browsers, see:
   *    <https://github.com/philipwalton/flexbugs>
   */
  .menu-toggle[aria-expanded="false"] i + i {
    margin-top: .25rem; /* 1 */
  }

  .menu-toggle[aria-expanded="true"] i {
    left: 0;
    margin-top: -.0625rem;
    position: absolute;
    top: 50%;
  }

  .menu-toggle[aria-expanded="true"] i:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu-toggle[aria-expanded="true"] i:nth-child(2) {
    transform: rotate(-45deg);
  }

  .menu-toggle[aria-expanded="true"] i:nth-child(3) {
    display: none;
  }

  .menu-container {
    background: #000;
    box-shadow: $shadow;
    color: #fff;
    display: none;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 6rem;
    z-index: 1000;
  }

  .menu-container::before {
    border-bottom: 5px solid $color-black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    position: absolute;
    right: 3.25rem;
    top: -5px;
  }

  .menu-toggle[aria-controls="menu"][aria-expanded="true"] + #menu {
    display: block;
  }

  .menu-main {
    align-items: flex-start;
    flex-direction: column;
    padding: .5rem 0;
  }

  .menu-main .menu-item {
    align-items: flex-start;
    flex-direction: column;
    font-size: .875rem;
  }

  .menu-main .menu-item.has-dropdown a::after {
    display: none;
  }

  .menu-main .menu-item > a {
    padding: 0 1.5rem;
  }

  .menu-dropdown {
    display: flex;
    flex-direction: column;
    font-size: .875rem;
    padding: 0 1.5rem;
  }

  .menu-dropdown a {
    color: $color-syntax-white;
    display: block;
    padding: .5rem 1rem;
  }

  .menu-trylovebuy {
    border-top: 1px solid rgba(#fff, .15);
    font-size: .875rem;
    margin-left: 0;
    padding: .25rem 1rem;
  }

  .menu-trylovebuy .menu-item a {
    font-weight: 500;
  }

  .menu.background\:dark {
    .menu-container {
      background: #fff;
      color: #000;
    }

    .menu-container::before {
      border-bottom-color: #fff;
    }

    .menu-dropdown a {
      color: #777;
    }

    .menu-trylovebuy {
      border-top: 1px solid rgba(#000, .15);
    }
  }
}
