/**
 * 1. Fallback for browsers (i.e. IE 11) without support for custom properties
 */
.multicol {
  column-count: 1;
  column-gap: 2rem; /* 1 */
  column-gap: var(--grid-gutter);
}

/**
 * 1. Prevents browsers from rippung columns apart.
 */
.multicol  > * {
  display: inline-block; /* 1 */
  width: 100%;
}

@include mq(from s) {
  .multicol {
    column-count: 2;
  }
}

@include mq(from m) {
  .multicol {
    column-count: 3;
  }
}
