.pagination {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.pagination a {
  flex-grow: 0;
  flex-shrink: 0;
}

.pagination a[rel="next"] {
  justify-self: right;
}

@include mq(to s) {
  .pagination-label-page {
    display: none;
  }
}
