.recipe-cards {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.recipe-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  line-height: 1.5em;
}

.recipe-card-header {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card-body {
  flex-grow: 1;
}

.recipe-card-title {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  position: relative;

  &::after {
    background: $color-syntax-yellow;
    bottom: -.125rem;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 2rem;
  }
}

.recipe-card-description {
  color: $color-anthracite;
  font-size: .875rem;
  line-height: 1.5em;
}

.recipe-card-footer {
  align-items: center;
  display: flex;
  margin-top: .8rem;
}

.recipe-card-footer a {
  color: rgba($color-anthracite, .7);
  display: flex;
  font-family: $font-mono;
  font-size: .75rem;
  width: 100%;
}

.recipe-card-footer a svg {
  margin-right: .5rem;
  margin-top: .2rem;
}

.recipe-card-footer a svg * {
  fill: #000;
}
