/**
 * Hide menu button on small screens, when the search input
 * is in focus to avoid horizontal scrolling.
 */
@include mq(to 25em) {
  :root.is-menu-search-open .menu {
    overflow: hidden;
    width: 0;
  }
}

.menu-search {
  align-items: center;
  display: flex;
  margin-left: 1rem;
  position: relative;
}

/**
 * 1. Resets the default border-radius in Mobile Safari.+
 */
.menu-search-input {
  appearance: none;
  background: transparent url("../images/icons/search.svg") no-repeat center right;
  border: 0;
  border-radius: 0; /* 1 */
  color: $color-syntax-yellow;
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  line-height: 2rem;
  outline: 0;
  padding: 0 1rem;
  width: 2rem;
}

.menu-search-input:focus {
  background: #000;
  box-shadow: $shadow;
  max-width: 100%;
  width: 14rem;

  // @include mq(to 28em) {
  //   // limit search input width on very small screens
  //   width: 12rem;
  // }
}

.menu-search .awesomplete {
  color: #fff;
  font-size: .875rem;
  position: relative;
}

.menu-search .awesomplete strong {
  display: block;
  font-size: .875rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-search .awesomplete small {
  color: $color-syntax-comment;
  display: block;
  font-size: .75rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.menu-search .awesomplete ul {
  background: #000;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
}

.menu-search .awesomplete li {
  cursor: pointer;
  line-height: 1.25em;
  margin: 0;
  overflow: hidden;
  padding: .75rem 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-search .awesomplete li[aria-selected="true"],
.menu-search .awesomplete li:hover {
  background: $color-dark-gray;

  & small {
    color: #fff;
  }
}

.menu-search-view-all,
.menu-search-error {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  svg {
    fill: currentColor;
  }
}

.menu-search.background\:dark {
  .menu-search-input {
    background: transparent url("../images/icons/search-white.svg") no-repeat center right;
  }

  .menu-search-input:focus {
    background: #fff;
    color: $color-black;
  }

  .awesomplete {
    color: $color-black;
  }

  .awesomplete ul {
    background: #fff;
  }

  .awesomplete li[aria-selected="true"],
  .awesomplete li:hover {
    background: $color-background;

    & small {
      color: $color-black;
    }
  }
}
