/* =====  Sidebar Component  ================================================ */

.sidebar {
  height: 100%;
  left: -24px;
  padding-right: 1.5rem;
  position: relative;
  top: 4px;
}

.sidebar a[aria-current="page"] {
  text-decoration: underline;
}

/* -----  Top-Level items  -------------------------------------------------- */

.sidebar-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 24px;
}

.sidebar-item:not(:last-child) {
  margin-bottom: .5rem;
}

/* ·····  submenu Toggle / Level up link ···································· */

.sidebar-toggle {
  cursor: pointer;
  height: 20px;
  margin-left: -24px;
  margin-right: 4px;
  margin-top: .1875rem;
  position: relative;
  width: 20px;

  @include link-backplane($offset: 1px);
}

.sidebar-item-link.-level-up {
  position: relative;
}

.sidebar-item-link.-level-up::after,
.sidebar-toggle i {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid currentColor;
  box-sizing: content-box;
  display: block;
  height: 0;
  left: 50%;
  margin: -3px 0 0 -3px;
  position: absolute;
  top: 50%;
  transform: rotate(-90deg);
  width: 0;
}

.sidebar-item-link.-level-up::after {
  content: "";
  left: -14px;
  top: calc(50% + 1px);
  transform: rotate(90deg);
}

.sidebar-toggle[aria-expanded="true"] i {
  transform: rotate(0deg);
}

/* -----  Submenu  ---------------------------------------------------------- */

.sidebar-submenu {
  display: block;
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 0;
  transition: height .3s;
  width: 100%;
}

.sidebar-submenu:not([hidden]) {
  height: auto;
}

.sidebar-subpages {
  margin-bottom: 0;
  padding-bottom: .25rem;
  padding-top: .5rem;
}

.sidebar-subpage {
  color: rgba($color-anthracite, .8);
  font-size: .875rem;
  padding: .125rem 0;
}

/* ----- Submenu (Level 3)  ------------------------------------------------- */

.sidebar-subpagechildren {
  padding-left: 2ch;
}
