.since-version {
  position: relative;
}

.version-badge {
  align-items: baseline;
  display: flex;
  font-size: .75rem;
  margin-bottom: 1rem;
  color: $color-muted;
}

.version-badge > code {
  background: $color-light-gray;
  color: $color-black;
  line-height: 1rem;
  margin-left: .5rem;
  padding: .125rem .5rem;
}

.version-badge.current > code {
  background: $color-syntax-yellow;
}
