.toc {
  background: $color-background;
  padding: 1rem;
}

.toc ol {
  counter-reset: tablet-of-contents;
  flex-grow: 1;
  list-style: none;
  margin: 0;
}

.toc h2 {
  margin-bottom: .5rem;
}

.toc li {
  counter-increment: table-of-contents;
  margin-left: 3.25ch;
}

.toc a {
  position: relative;
  text-decoration: none;
}

.toc a:hover > span {
  text-decoration: underline;
}

/**
 * 1. Using margin would leave unclickable gaps between
 *    items, padding looks much better.
 */
.toc li + li a {
  padding-top: .25rem; /* 1 */
}

.toc a::before {
  color: #777;
  content: counter(table-of-contents, decimal-leading-zero);
  font-family: $font-mono;
  font-size: .75rem;
  margin-left: -4ch;
  padding-right: 2ch;
  text-decoration: none;
}
