[data-tooltip] {
  border-bottom: 1px dotted rgba($color-black, 0.5);
  cursor: help;
}

.tippy-box {
  background: $color-black;
  border-radius: $border-radius;
  box-shadow: $shadow;
  color: $color-white;
  padding: 0;
}

.tippy-box .tippy-content {
  font-size: 1rem; // 16px
  line-height: 1.5;
  padding: 0.5rem 0.75rem; // 8px 12px
}

.tippy-arrow {
  color: $color-black;
}
