/** BANNER **/
.banner {
	display: none;
	position: absolute;
	padding: 0.5rem 0.75rem;
	line-height: var(--leading-none);
	white-space: nowrap;
}

/** Small **/
@media screen and (max-width: 60rem) {
	.banner {
		display: block;
		top: 8.5rem;
		top: clamp(8.5rem, 22vw, 10rem);
	}
	.banner a::after {
		content: " →";
	}
}

/** Large **/
@media screen and (min-width: 60rem) {
	.banner {
		display: block;
		top: 5rem;
		right: 0;
		background: var(--color-white);
		box-shadow: var(--shadow-2xl);
	}
	.banner::before {
		position: absolute;
		top: -6px;
		right: 4.5rem;
		content: "";
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
	}
}
