.filters a,
.filters button {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-1);
}
.filters svg {
  margin-right: var(--spacing-3);
	width: 18px;
}
.filters hr {
  margin: var(--spacing-3) 0;
}
