.footer .container {
  padding-top: 9rem;
}
.footer-info {
  max-width: 10rem;
}
.footer-info .social {
  margin-left: -.75rem;
}

.footer-menu a {
  display: block;
}
.footer-menu-partners a {
  padding: .25rem 0;
}
.footer-menu-partners svg {
  height: 1.5rem;
}
