.footer .container {
	padding-top: var(--spacing-36);
}
.footer-info {
	max-width: 10rem;
}
.footer-info .social {
	margin-left: -0.75rem;
}

.footer-menu a {
	display: block;
	padding: 0.1rem 0;
}
.footer-menu-partners a {
	padding: 0.25rem 0;
}
.footer-menu-partners svg {
	width: auto;
	height: 1.5rem;
}
