.sidebar {
  font-size: var(--text-base);
}
.sidebar ul a {
  font-weight: var(--font-bold);
}
.sidebar ul a[aria-current] {
  color: var(--color-black);
}

.sidebar li {
  margin-bottom: .25rem;
}

.sidebar .details {
  margin-left: -1.75rem;
}
.sidebar .details summary::after {
  margin-top: .25rem;
}

.sidebar-menu-2 {
  position: relative;
  font-size: var(--text-sm);
  line-height: 1;
  padding-top: .625rem;
  padding-bottom: .125rem;
}
.sidebar-menu-2 li {
  margin-bottom: .5rem;
}
.sidebar-menu-2 li > a {
  font-weight: normal;
  color: var(--color-gray-700);
}
.sidebar-menu-2 li > hr {
  width: 3rem;
  margin: var(--spacing-3) 0;
  border-top: 2px solid var(--color-gray-200);
}
