.topbar {
	font-weight: var(--font-bold);
	padding: var(--spacing-3) 0;
	border-bottom: 1px solid var(--color-border);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.topbar-icon {
	margin-right: var(--spacing-2);
}

.topbar-link {
	display: flex;
	gap: var(--spacing-2);
	align-items: center;
}
.topbar-link > :first-child {
	display: none;
}
.topbar-link > :last-child {
	width: 1ch;
}

@media screen and (min-width: 35rem) {
	.topbar-link > :first-child {
		display: inline;
	}
}
