:root {
	--color-aqua-100: #effafb;
	--color-aqua-200: #def5f7;
	--color-aqua-300: #c2edf0;
	--color-aqua-400: #a1e4e8;
	--color-aqua-500: #52d9e0;
	--color-aqua-600: #00c4ce;
	--color-aqua-700: #00aab2;
	--color-aqua-800: #088b91;
	--color-aqua-900: #006266;

	--color-blue-100: #f0f7ff;
	--color-blue-200: #e5f1ff;
	--color-blue-300: #cce3ff;
	--color-blue-400: #b3d4ff;
	--color-blue-500: #75b1ff;
	--color-blue-600: #4093ff;
	--color-blue-700: #1371ec;
	--color-blue-800: #0f5abd;
	--color-blue-900: #004299;

	--color-green-100: #f7fae5;
	--color-green-200: #eef5c7;
	--color-green-300: #e8f1b1;
	--color-green-400: #dae981;
	--color-green-500: #cfe25a;
	--color-green-600: #b9d700;
	--color-green-700: #9bb500;
	--color-green-800: #7e9108;
	--color-green-900: #586600;

	--color-orange-100: #fff5eb;
	--color-orange-200: #ffe6cc;
	--color-orange-300: #ffd9b3;
	--color-orange-400: #ffc48a;
	--color-orange-500: #ffab57;
	--color-orange-600: #ff9326;
	--color-orange-700: #e57300;
	--color-orange-800: #c2660a;
	--color-orange-900: #804000;

	--color-pink-100: #ffeefa;
	--color-pink-200: #ffddf6;
	--color-pink-300: #febeed;
	--color-pink-400: #fe98e2;
	--color-pink-500: #ff71d7;
	--color-pink-600: #ff4ccd;
	--color-pink-700: #ec17b1;
	--color-pink-800: #bd0f8c;
	--color-pink-900: #8e0067;

	--color-purple-100: #f8f0ff;
	--color-purple-200: #f4e5ff;
	--color-purple-300: #e8ccff;
	--color-purple-400: #ddb3ff;
	--color-purple-500: #c070ff;
	--color-purple-600: #a93cff;
	--color-purple-700: #8d0df2;
	--color-purple-800: #710ac2;
	--color-purple-900: #550099;

	--color-red-100: #fff0f0;
	--color-red-200: #ffe5e6;
	--color-red-300: #ffcccc;
	--color-red-400: #ffb3b3;
	--color-red-500: #ff8080;
	--color-red-600: #fe4c4c;
	--color-red-700: #e51a1a;
	--color-red-800: #b81414;
	--color-red-900: #800000;

	--color-yellow-100: #fef8e2;
	--color-yellow-200: #fcefc0;
	--color-yellow-300: #fbe9a8;
	--color-yellow-400: #f9e086;
	--color-yellow-500: #f6d355;
	--color-yellow-600: #fdc500;
	--color-yellow-700: #e5b300;
	--color-yellow-800: #c29a0a;
	--color-yellow-900: #806400;

	--color-dark: #313740;
}
