:root {

  --color-aqua-100: #EFFAFB;
  --color-aqua-200: #DEF5F7;
  --color-aqua-300: #C2EDF0;
  --color-aqua-400: #A1E4E8;
  --color-aqua-500: #52D9E0;
  --color-aqua-600: #00C4CE;
  --color-aqua-700: #00AAB2;
  --color-aqua-800: #088B91;
  --color-aqua-900: #006266;

  --color-blue-100: #F0F7FF;
  --color-blue-200: #E5F1FF;
  --color-blue-300: #CCE3FF;
  --color-blue-400: #B3D4FF;
  --color-blue-500: #75B1FF;
  --color-blue-600: #4093FF;
  --color-blue-700: #1371EC;
  --color-blue-800: #0F5ABD;
  --color-blue-900: #004299;

  --color-green-100: #F7FAE5;
  --color-green-200: #EEF5C7;
  --color-green-300: #E8F1B1;
  --color-green-400: #DAE981;
  --color-green-500: #CFE25A;
  --color-green-600: #B9D700;
  --color-green-700: #9BB500;
  --color-green-800: #7E9108;
  --color-green-900: #586600;

  --color-orange-100: #FFF5EB;
  --color-orange-200: #FFE6CC;
  --color-orange-300: #FFD9B3;
  --color-orange-400: #FFC48A;
  --color-orange-500: #FFAB57;
  --color-orange-600: #FF9326;
  --color-orange-700: #E57300;
  --color-orange-800: #C2660A;
  --color-orange-900: #804000;

  --color-pink-100: #FFEEFA;
  --color-pink-200: #FFDDF6;
  --color-pink-300: #FEBEED;
  --color-pink-400: #FE98E2;
  --color-pink-500: #FF71D7;
  --color-pink-600: #FF4CCD;
  --color-pink-700: #EC17B1;
  --color-pink-800: #BD0F8C;
  --color-pink-900: #8E0067;

  --color-purple-100: #F8F0FF;
  --color-purple-200: #F4E5FF;
  --color-purple-300: #E8CCFF;
  --color-purple-400: #DDB3FF;
  --color-purple-500: #C070FF;
  --color-purple-600: #A93CFF;
  --color-purple-700: #8D0DF2;
  --color-purple-800: #710AC2;
  --color-purple-900: #550099;

  --color-red-100: #FFF0F0;
  --color-red-200: #FFE5E6;
  --color-red-300: #FFCCCC;
  --color-red-400: #FFB3B3;
  --color-red-500: #FF8080;
  --color-red-600: #FE4C4C;
  --color-red-700: #E51A1A;
  --color-red-800: #B81414;
  --color-red-900: #800000;

  --color-yellow-100: #FEF8E2;
  --color-yellow-200: #FCEFC0;
  --color-yellow-300: #FBE9A8;
  --color-yellow-400: #F9E086;
  --color-yellow-500: #F6D355;
  --color-yellow-600: #FDC500;
  --color-yellow-700: #E5B300;
  --color-yellow-800: #C29A0A;
  --color-yellow-900: #806400;

  --color-dark: #313740;
}
