@media screen and (min-width: 48rem) {
  .with-sidebar {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .with-sidebar > :first-child {
    grid-column-start: 2;
    grid-column-end: -1;
  }
  .with-sidebar > :last-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .with-sidebar > article {
    width: 100%;
  }
}
