html {
  background: #fff;
}

img {
  max-width: 100%;
  width: 100%;
  transform-style: preserve-3d;
}

:root {
  --color-gray-400: #999;
  --color-gray-500: #777;
  --color-code-red:         #d16464;
  --color-code-orange:      #de935f;
  --color-code-yellow:      #f0c674;
  --color-code-green:       #a7bd68;
  --color-code-aqua:        #8abeb7;
  --color-code-blue:        #7e9abf;
  --color-code-purple:      #b294bb;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --padding: 1.5rem;
}

.v35-container {
  max-width: 75rem;
  margin: 0 auto;
}

.v35 .btn {
  display: inline-flex;
  padding: .5rem 1.5rem;
  align-items: center;
  font-size: .875rem;
  border: 2px solid currentColor;
  font-family: var(--font-mono);
  transition: all .3s;
}
.v35 .btn:hover {
  background: #fff;
  color: #000;
}
.v35 .btn svg {
  margin-right: .75rem;
}

.v35 .btn-link {
  display: inline-flex;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}
.v35 .btn-link::after {
  content: "›";
  padding-left: .5rem;
  color: var(--color-gray-400);
}


.v35-hero.v35-section {
  padding-top: 0;
  padding-bottom: 0;
}
.v35-hero .v35-container {
  position: relative;
  height: 18rem;
  overflow: hidden;
}
.v35-hero .logo {
  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  left: 0;
}
.v35-hero h1 {
  position: absolute;
  bottom: -3rem;
  left: -.5rem;
  font-weight: 800;
  font-size: 14rem;
  margin: 0;
  color: #000;
  background: linear-gradient(45deg,var(--color-code-aqua),var(--color-code-green),var(--color-code-orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.v35-hero .btn {
  position: absolute;
  right: 0;
  bottom: 2rem;
}

.v35-section {
  padding: var(--padding);
  overflow: hidden;
}

.v35-section-hero {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

main h1, main h2, main h3 {
  font-weight: 400;
  margin: 0;
}

.v35-gallery {
  display: grid;
  grid-gap: .75rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, .33fr));
}
.v35-gallery span {
  display: block;
  position: relative;
  padding-bottom: 100%;
  background: #000;
}
.v35-gallery span img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.v35-gallery figcaption {
  font-size: .875rem;
  padding-top: .5rem;
}

.v35-features article:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
  padding-bottom: var(--padding);
  margin-bottom: var(--padding);
}

.v35-fine-print .text > ul {
  margin-left: -.625rem;
}

.v35-kirby {
  max-width: 17.5rem;
  margin-bottom: 3rem;
}
.v35-kirby strong {
  color: white;
}

.v35-footer-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.v35-buttons {
  display: flex;
  align-items: center;
}
.v35-buttons span {
  padding: 0 1rem;
  color: #999;
}

.v35-auth figure:not(:last-of-type)::after {
  content: "↓";
  margin: 1.5rem 0;
  display: block;
  text-align: center;
  color: var(--color-code-blue);
}

.v35-social {
  display: flex;
  align-items: center;
  margin-right: -1rem;
}
.v35-social a {
  padding: 1rem;
}


.color-gray {
  color: #777;
}
.color-gray-400 {
  color: var(--color-gray-400);
}
.color-gray-500 {
  color: var(--color-gray-500);
}
.bg-black {
  background: #000;
  color: #fff;
}
.bg-light {
  background: #efefef;
}
.font-bold {
  font-weight: 600;
}
.grid {
  --columns: 12;
  --gutter: var(--padding);
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}
.grid > .column {
  margin-bottom: var(--gutter);
}
.mb-3 {
  margin-bottom: .75rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mt-3 {
  margin-top: .75rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.shadow {
  box-shadow: rgba(0,0,0,.2) 0 2px 5px, rgba(0,0,0,.1) 0 4px 15px;
}
.text-sm {
  font-size: .875rem;
}
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.5rem;
}
.text-2xl {
  font-size: 2rem;
  line-height: 1.175em;
}

@media screen and (min-width: 60rem) {
  :root {
    --padding: 3rem;
  }
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 75rem) {
  :root {
    --padding: 4.5rem;
  }
}

@media screen and (min-width: 90rem) {
  :root {
    --padding: 6rem;
  }
}
