.-background\:white {
  background-color: $color-white;
}

.-background\:light {
  background-color: $color-background;
}

.-background\:dark {
  background-color: $color-dark-gray;
}

.-background\:black {
  background-color: $color-black;
}
