.-color\:anthracite {
  color: rgba($color-anthracite, .8);
}

.-color\:white {
  color: $color-white !important;
}

.-color\:white-on-dark {
  color: $color-syntax-white !important;
}

.-color\:blue {
  color: $color-blue !important;
}

.-color\:blue-on-dark {
  color: $color-syntax-blue !important;
}

.-color\:yellow {
  color: $color-yellow !important;
}

.-color\:yellow-on-dark {
  color: $color-syntax-yellow !important;
}

.-color\:purple {
  color: $color-purple !important;
}

.-color\:purple-on-dark {
  color: $color-syntax-purple !important;
}

.-color\:green {
  color: $color-green !important;
}

.-color\:green-on-dark {
  color: $color-syntax-green !important;
}

.-color\:aqua {
  color: $color-aqua !important;
}
