/**
 * Hides an element visually but keeps it visible for screen
 * readers, use for e.g. navigation titles.
 *
 * 1. Preferred selector version is `.screen-reader-text`, but
 *    `.visually-hidden` is kept for compatiblity with Awesomeplete.
 * 2. Prevents most screen readers from announcing broken words as
 *    they would appear visually and reads them as defined in source.
 */
.screen-reader-text /* 1 */,
.visually-hidden /* 1 */ {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* 2 */
}

/**
 * Hides an element if CSS is available and from screen readers.
 * Use to show stuff only to text-mode browsers and other devices
 * without CSS support.
 */
.hide-if-css {
  display: none;
}

/**
 * Hidden "Skip to content" link that will be only visible when the
 * user tabs through the page.
 */
.skip-to-content {
  background: $color-black;
  border-radius: $border-radius;
  color: $color-white !important;
  left: -1000px;
  padding: 8px 12px;
  position: absolute;
  top: -1000px;
  z-index: 10000;
}

.skip-to-content:focus {
  left: 8px;
  top: 8px;
}
