/* -----  General Page Setup  ----------------------------------------------- */

/**
 * IE10+ doesn't honor `<meta name="viewport">` in some cases.
 * Taken from https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
@-ms-viewport {
  width: device-width;
}


/**
 * 1. Roboto renders too bold when subpixel-antialiasing is
 *    enabled, so disable it where possible.
 * 2. Prevent adjustments of font size after orientation changes
 *    in iOS.
 */
html {
  -webkit-text-size-adjust: 100%; /* 2 */
  color: $color-black;
  background: url('../images/patterns/burgerman-white.jpg') 50% 0% repeat-x;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/**
 * Hacks needed for IE 11 to make sticky footer work.
 *
 * 1. Applies to IE 10+ only
 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) /* 1 */ {
  html {
    display: flex;
  }

  body {
    width: 100%;
  }
}


body > * {
  flex-grow: 0;
}

/**
 * 1. Add the correct display in IE 11-, as the main element has no
 *    default styling applied in any version of IE.
 */
main {
  display: block; /* 1 */
  flex-grow: 1;
}

/* -----  Focus Outlines  --------------------------------------------------- */

/* Noscript-Behavior for focus outlines */
body:not(.js-focus-visible) :focus {
  outline: 2px solid $color-focus-outline;
  outline-offset: 2px;
}

/**
 * JavaScript-enhanced Focus Outline (only visible then TAB was
 * pressed, but not when user has clicked.
 */
.focus-visible {
  outline: 2px solid $color-focus-outline;
  outline-offset: 2px;
}

/**
 * JavaScript fallback for hiding the focus outline when Element is
 * activated by clicking or tapping.
 */
body.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}
