/* =====  Resets  =========================================================== */

/* -----  Global Resets  ---------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -----  Typography  ------------------------------------------------------- */

ul, ol {
  list-style: none;
}

/* -----  Links  ------------------------------------------------------- */
a {
  text-decoration: none;
}

/* -----  Images  ------------------------------------------------------- */
img {
  width: 100%;
}

/* -----  Forms  ------------------------------------------------------------ */

.button-reset {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}
