:root {
	--overlay-color-back: rgba(0, 0, 0, 0.6);
	--overlay-color-back-dimmed: rgba(0, 0, 0, 0.2);
}

.overlay {
	position: fixed;
	overscroll-behavior: contain;
	inset: 0;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	background: var(--overlay-color-back);
	z-index: var(--z-dialog);
	transform: translate3d(0, 0, 0);
	display: grid;
	place-items: center;
}
dialog.overlay {
	display: none;
}
dialog.overlay[open] {
	display: grid;
	background: transparent;
}
dialog.overlay::backdrop {
	background: var(--overlay-color-back);
}
