:root {
	--container: 90rem;
	--container-padding: var(--spacing-4);

	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: "SFMono-Regular", Consolas, Liberation Mono, Menlo, Courier,
		monospace;

	--font-thin: 300;
	--font-normal: 400;
	--font-semibold: 500;
	--font-bold: 600;

	--leading-none: 1;
	--leading-tight: 1.25;
	--leading-snug: 1.375;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;
	--leading-loose: 2;

	--rounded-xs: 1px;
	--rounded-sm: 0.125rem;
	--rounded: 0.25rem;

	--shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--shadow-2xl: rgba(0, 0, 0, 0.025) 0 0 10px, rgba(0, 0, 0, 0.075) 0 5px 40px,
		rgba(0, 0, 0, 0.075) 0 30px 100px;
	--shadow-outline: currentColor 0 0 0 2px;
	--shadow-inset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

	--spacing-0: 0;
	--spacing-px: 1px;
	--spacing-2px: 2px;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing--6: -1.5rem;
	--spacing-8: 2rem;
	--spacing-10: 2.5rem;
	--spacing-12: 3rem;
	--spacing--12: -3rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-36: 9rem;
	--spacing-42: 10.5rem;

	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.75rem;
	--text-4xl: 2.5rem;
	--text-5xl: 3rem;
	--text-6xl: 4rem;

	--text-h1: var(--text-4xl);
}

@media screen and (min-width: 22rem) {
	:root {
		--container-padding: var(--spacing-6);
	}
}
@media screen and (min-width: 30rem) {
	:root {
		--container-padding: var(--spacing-12);
	}
}
@media screen and (min-width: 40rem) {
	:root {
		--text-h1: var(--text-5xl);
	}
}
@media screen and (min-width: 72rem) {
	:root {
		--container-padding: var(--spacing-24);
	}
}
