@import "../includes";

.home-actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 1.5rem 9rem;

  @include mq(from s) {
    flex-direction: row;
  }
}

.home-actions a {
  align-items: center;
  background: #000;
  border-radius: 1px;
  color: #fff;
  display: flex;
  font-family: $font-mono;
  font-size: .875rem;
  font-weight: 400;
  margin: 0 1.5rem;
  padding: .5rem 1.5rem;

  @include mq(to s) {
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

.home-actions a svg {
  margin-right: .75rem;
  width: 1rem;
}

.home-actions a svg * {
  fill: $color-syntax-yellow;
}

.home-actions a:hover {
  background: $color-syntax-yellow;
  color: #000;
}

.home-actions a:hover svg * {
  fill: $color-black;
}
