@import "../includes";

.home-blueprints {
  padding-top: 3rem;
  padding-bottom: 0;
  overflow: hidden;
  @include mq(from s) {
    padding-top: 7.5rem;
  }
}
.home-blueprints .h2 {
  position: relative;
  z-index: 1;

  @include mq(from s) {
    position: absolute;
  }
}
.home-blueprints figure {
  line-height: 0;
  margin: -3rem -6rem 0;
}
