@import "../includes";

.home-features figure {
  margin-bottom: .5rem;
}
.home-features figure svg * {
  stroke: $color-yellow;
}
.home-features li {
  margin-bottom: 1.5rem;
}

@supports (display: grid) {
  .home-features ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem;
  }
  .home-features li {
    margin-bottom: 0;
  }
}

.home-features li h3 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 0;
}
.home-features li .description {
  font-size: .875rem;
}

.home-features-more {
  display: block;
  font-family: $font-mono;
  text-align: left;
  font-size: .875rem;
  border-top: 4px solid #efefef;
  margin-top: 4.5rem;
  padding-top: 1.5rem;
}
