@import "../includes";

.home-hero {
  background: #000;
  color: $color-white;
  overflow: hidden;
}
.home-hero figure {
  line-height: 0;
}
.home-hero-banner {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.home-hero-banner-content {
  max-width: 27rem;
  position: relative;
  z-index: 1;
  padding-top: 9rem;
  padding-bottom: 1.5rem;
  margin-right: -3rem;
  flex-shrink: 2;

  @include mq(from m) {
    margin-right: 0;
    padding-bottom: 3rem;
  }
}
.home-hero-links {
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
}
.home-hero-cta {
  font-family: $font-mono;
  font-size: .875rem;
  border: 2px solid $color-syntax-yellow;
  padding: .5rem 1.5rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 1.5rem;
}
.home-hero-cta svg {
  margin-right: .75rem;
}
.home-hero-cta svg * {
  fill: currentColor;
}
.home-hero-cta:hover {
  background: $color-syntax-yellow;
  color: #000;
}
.home-hero-v3 {
  display: inline-flex;
  padding: .75rem 0;
  font-size: .875rem;
  white-space: nowrap;
  color: #999;
  font-family: $font-mono;
}

.home-hero-banner h1 {
  color: $color-white;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: none;
  line-height: 1.25em;
  @include mq(from s) {
    font-size: 2rem;
    line-height: 1.125em;
  }
  @include mq(from m) {
    font-size: 2.5rem;
  }
}
.home-hero-banner figure {
  padding-top: 6rem;
  z-index: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: -5rem;
  width: 66.66%;

  @include mq(from m) {
    margin-right: 0;
    width: auto;
    margin-bottom: -1.5rem;
  }
}

.home-hero-screenshot {
  display: none;
  position: relative;

  @include mq(from m) {
    display: block;
  }
}
