@import "../includes";

.home-kosmos {
  background: #000;
  color: #fff;
}
.home-kosmos-form {
  padding: 3rem 0;

  @include mq(from s) {
    border-bottom: 4px solid $color-anthracite;
  }

  @include mq(from m) {
    padding: 6rem 0;
  }
}
.home-kosmos-form .h2 {
  font-weight: 600;
  color: $color-white;
}
.home-kosmos-form label {
  color: $color-syntax-yellow;
}

