@import "../includes";

.home-panel {
  overflow: hidden;
}

.home-panel-container {
  background: darken($color-anthracite, 5%);
  padding: 1.5rem 1.5rem 0;
  position: relative;

  @include mq(from m) {
    padding: 3rem 3rem 1.5rem;
  }

  @include mq(from l) {
    margin: 0 -3rem;
  }
}

.home-panel-container > * {
  position: relative;
  z-index: 1;
}

.home-panel-gallery {
  display: none;
  margin-bottom: 3rem;

  @include mq(from s) {
    display: block;
  }
}

.home-panel-gallery figure {
  background: #000;
  border-radius: 6px;
  line-height: 0;
}

.home-panel-gallery figure:not(:first-child) {
  display: none;
}

.home-panel-gallery-links {
  color: $color-syntax-white;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
}

.home-panel-gallery-links > * {
  flex-grow: 0;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;

  @include mq(from s) {
    width: percentage(1 / 3);
  }

  @include mq(from m) {
    width: 20%;
  }
}

.home-panel-gallery-links a {
  display: block;
}

.home-panel-gallery-links span {
  background: darken($color-anthracite, 10%);
  display: block;
  line-height: 0;
  margin: 0 auto 1rem;
  overflow: hidden;
}

@include mq(from s) {
  .home-panel-gallery-links a[aria-current] span {
    outline: 2px solid $color-syntax-yellow;
    outline-offset: 2px;
  }

  .home-panel-gallery-links a:not([aria-current]) img {
    filter: blur(2px);
    opacity: .3;
    transition: all .3s;
  }

  .home-panel-gallery-links figure:hover img {
    filter: blur(0);
    opacity: 1;
  }

  .home-panel-gallery-links figcaption p {
    color: rgba(#fff, .75);
    font-size: .875rem;
  }
}
