@import "../includes";

.home-plugins {
  padding: 3rem 0;
  @include mq(from m) {
    padding: 6rem 0;
  }
}
.home-plugins .wrap {
  @include mq(from m) {
    display: flex;
  }
}
.home-plugins header {
  flex-grow: 1;
  flex-basis: 33.33%;
  margin-right: 1.5rem;
}
.home-plugins .h2 {
  max-width: none;
}
.home-plugins .description {
  font-family: $font-mono;
  font-size: .75rem;
  margin-bottom: 3rem;
}
.home-plugins .description a {
  text-decoration: underline;
}
.home-plugins figure {
  flex-grow: 2;
  flex-basis: 66.66%;
  margin-top: .25rem;
}
