@media (max-width: 50rem) {
	.release-header {
		flex-direction: column;
		align-items: initial;
	}

	.release-header nav {
		margin: var(--spacing-6) 0 0;
	}
}

.release-wrapper {
	position: relative;
}

@media (max-width: 110rem) {
	.release-menu {
		display: none;
	}
}

.release-menu {
	position: absolute;
	top: 0;
	right: -15rem;
	width: 10rem;
	bottom: 0;
}

.release-menu a {
	position: relative;
	display: block;
	white-space: nowrap;
	padding: var(--spacing-2px);
}

.release-menu a[aria-current]::before {
	position: absolute;
	content: "";
	top: 50%;
	left: calc(var(--spacing-12) * -1);
	width: var(--spacing-8);
	height: 1px;
	background: var(--color-gray-300);
}

.release-menu a[aria-current]::after {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	top: 50%;
	margin-top: -4px;
	left: -1.25rem;
	background: var(--color-light);
	border-radius: 50%;
	border: 1px solid var(--color-gray-300);
}

.release-box,
.release-code-box,
.release-padded-box,
.release-text-box {
	border-radius: 0.5rem;
	overflow: hidden;
	z-index: 1;
}
.release-code-box {
	display: grid;
	align-items: stretch;
	background: var(--color-black);
}
.release-code-box .code-toolbar {
	display: grid;
}
.release-code-box :where(.code pre, .filesystem) {
	padding: var(--spacing-6);
}

.release-padded-box,
.release-text-box {
	color: var(--color-gray-800);
	padding: var(--spacing-8);
}
.release-text-box {
	background: var(--color-light);
}
.release-padded-box h3,
.release-text-box h3 {
	font-weight: var(--font-bold);
	font-size: var(--text-lg);
}
.release-padded-box .prose,
.release-text-box .prose {
	color: inherit;
}
.release-text-box .prose {
	font-size: var(--text-lg);
}

mark {
	background: var(--color-yellow-300);
}
