html {
  background: #000;
}

.hero {
  margin-bottom: 0;
}

.features-section {
  color: #c5c9c6;
  padding: 3rem 0;
}

.features-section-header {
  margin-bottom: 1.5rem;
}

.features-section-header .h3 {
  color: #f0c674;
  margin-bottom: .25rem;
}

.features-section-header p {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .875rem;
}

.features-grid > * {
  position: relative;
  background: #313740;
  color: #c5c9c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 2px;
}

@media screen and (min-width: 890px) {
  .features-grid {
    --gutter: 2px;
    display: grid;
    grid-gap: var(--gutter);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: calc((900px - 5*var(--gutter))/6);
  }

  .features-grid > * {
    --rows: 2;
    --cols: 2;
    grid-column: span var(--cols);
    grid-row: span var(--rows);
    margin-bottom: 0;
  }
}

.features-grid .h3,
.features-grid .h6 {
  color: #fff;
}

.features-grid header {
  padding: 1.5rem;
}

.features-grid .h6 {
  padding-top: .5rem;
}

.features-grid img {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 20px;
}

.features-grid .autosize img {
  width: auto;
}

.features-grid .stretch img {
  width: 125%;
}

.footer.-theme\:dark {
  background: #000;
}

.features-text figure {
  position: relative;
  padding: 1.5rem;
  line-height: 0;
}

.features-text p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.features-link {
  text-decoration: underline;
}

.features-image figure {
  position: relative;
  padding: 3rem;
  line-height: 0;
}

.features-image.center {
  justify-content: center;
  text-align: center;
}

.features-code {
  padding: 3rem;
  justify-content: center;
}

.features-code-wrapper {
  padding: 0;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 20px !important;
  background: #000;
}

.features-code pre {
  margin-bottom: 0;
}

