@charset "UTF-8";

/* stylelint-disable block-closing-brace-empty-line-before, at-rule-empty-line-before */

/* stylelint-disable at-rule-empty-line-before */

/* stylelint-disable at-rule-empty-line-before */

.cases-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}

.cases-grid > * {
  margin-bottom: 4.5rem;
  padding-left: 3rem;
  width: 100%;
}

@media (min-width: 38em) {
  .cases-grid > * {
    width: 50%;
  }
}

@media (min-width: 56em) {
  .cases-grid > * {
    width: 33.3333333333%;
  }
}

.cases-grid .h5::after {
  color: #cca000;
  content: "\203A";
  margin-left: .25rem;
}

.cases-grid .h6 {
  letter-spacing: 0;
  text-transform: none;
}

.cases-grid .screenshot img {
  border: 1px solid #efefef;
  padding: 4px;
}

