/* stylelint-disable block-closing-brace-empty-line-before, at-rule-empty-line-before */

/* stylelint-disable at-rule-empty-line-before */

/* stylelint-disable at-rule-empty-line-before */

.filter-hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-search {
  background: #000;
  border: 0;
  font: inherit;
  padding: .25rem 1rem;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
  flex-basis: 100%;
}

@media (min-width: 56em) {
  .filter-search {
    flex-basis: calc(66.66% - 1rem);
  }
}

.filter-search:focus {
  color: #f0c674;
}

.filter-layout {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
  margin-bottom: 6rem;
}

.filter-layout > * {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 3rem;
  width: 100%;
}

.filter-sidebar {
  order: 1;
  min-width: 0;
}

.filter-overview {
  order: 2;
  min-width: 0;
  margin-bottom: 6rem;
}

@media (min-width: 56em) {
  .filter-sidebar {
    width: 33.33%;
  }

  .filter-overview {
    width: 66.66%;
    margin-bottom: 0;
  }

  .filter-filters {
    position: -webkit-sticky;
    position: sticky;
    top: 1.5rem;
    left: 0;
    right: 0;
  }
}

.filter-sidebar ul {
  margin-bottom: 3rem;
}

.filter-sidebar li {
  margin-bottom: .25rem;
  display: block;
}

.filter-sidebar a {
  display: flex;
  align-items: center;
  font-size: .75rem;
  color: #3c4350;
}

.filter-sidebar a img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: .5rem;
}

.filter-category-icon {
  background: #000;
  margin-right: .5rem;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-category-icon svg * {
  fill: #fff;
}

.plugin-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 1fr;
}

.plugin-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5em;
  background: #efefef;
  height: 100%;
}

.plugin-card-header {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plugin-card-icon {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  margin-right: 1rem;
  color: #f0c674;
  flex-shrink: 0;
  margin-top: 2px;
}

.plugin-card-body {
  padding: 1rem;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.plugin-card-image {
  margin-bottom: .75rem;
}

.plugin-card-title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  white-space: nowrap;
  line-height: 1rem;
}

.plugin-card-author {
  font-size: .75rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: rgba(60, 67, 80, 0.7);
  margin-bottom: .75rem;
}

.plugin-card-description {
  font-size: .875rem;
  line-height: 1.5em;
  color: #3c4350;
}

.plugin-card-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.plugin-card-footer a {
  display: flex;
  align-items: center;
  font-size: .75rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-right: 1.5rem;
  color: rgba(60, 67, 80, 0.7);
  width: 100%;
}

.plugin-card-footer a svg {
  margin-right: .5rem;
}

.plugin-card-footer a svg * {
  fill: #000;
}

.plugin-card:hover {
  background: #f0c674;
}

.plugin-card:hover .plugin-card-author {
  color: rgba(0, 0, 0, 0.7);
}

.plugin-card:hover .plugin-card-description {
  color: currentColor;
}

.plugin-card:hover .plugin-card-footer a {
  color: rgba(0, 0, 0, 0.7);
}

