@charset "UTF-8";

/* stylelint-disable block-closing-brace-empty-line-before, at-rule-empty-line-before */

/* stylelint-disable at-rule-empty-line-before */

/* stylelint-disable at-rule-empty-line-before */

.grid {
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-columns: 1;
          columns: 1;
}

@media (min-width: 38em) {
  .grid {
    -webkit-columns: 2;
            columns: 2;
  }
}

.grid > * {
  display: inline-block;
  margin-bottom: 3rem;
}

.section h2 {
  position: relative;
}

.section h2 a {
  display: block;
  margin-bottom: 4.5rem;
}

.section h2 a::before {
  border-top: 4px solid #f0c674;
  bottom: -1.75rem;
  content: "\A0";
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .75rem;
  font-weight: 400;
  padding-top: .45rem;
  position: absolute;
  width: 2rem;
}

#developers {
  color: #c5c9c6;
}

#developers h2,
#developers h3 {
  color: #fff;
}

#developers h2 {
  font-weight: 600;
}

#developers h3 {
  font-weight: 400;
}

