/* stylelint-disable at-rule-empty-line-before */

@mixin link-backplane($offset: 5px, $background: light) {

  $backplane-color: null;
  $backplane-hover-opacity:null;

  @if $background == light {
    $backplane-color:          $color-black;
    $backplane-hover-opacity:  .04;
  }

  @else if $background == dark {
    $backplane-color:          $color-white;
    $backplane-hover-opacity:  .12;
  }

  @else {
    @error "Link Backplane’s $background parameter must be either `light` or `dark`.";
  }

  outline: 0;
  position: relative;
  z-index: 0;

  &::before {
    background: transparent;
    border-radius: $border-radius-link-backplane;
    bottom: 0;
    content: "";
    left: 0;
    margin: (-1 * $offset);
    outline: 2px solid transparent;
    outline-offset: 2px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background .2s;
    z-index: -1;
  }

  &:hover::before {
    background: rgba($backplane-color, $backplane-hover-opacity);
  }

  body:not(.js-focus-visible) &:focus::before {
    outline-color: $color-focus-outline;
  }

  &.focus-visible::before {
    outline-color: $color-focus-outline;
  }

  .js-focus-visible &:focus:not(.focus-visible) {
    /**
     * Hide the focus outline when Element is clicked by mouse.
     */
    outline-color: transparent;
  }
}

@mixin dark-background {
  .-background\:dark & {
    @content;
  }
}
