# Updates the Algolia search index on all content changes

name: Update Algolia index
on:
  workflow_dispatch:
  repository_dispatch:
    types: [update-algolia]
  push:
    branches:
      - main
    paths:
      - .github/workflows/algolia.yml
      - content/**.txt
      - site/config/search.php
      - site/models/**
      - site/plugins/**
      - scripts/search-index

jobs:
  search:
    name: Update search index
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous workflow runs
        uses: styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # pin@v0

      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # pin@v3

      - name: Setup PHP environment
        uses: shivammathur/setup-php@7fdd3ece872ec7ec4c098ae5ab7637d5e0a96067 # pin@v2
        with:
          php-version: "8.3"
          extensions: mbstring, intl
          coverage: none
          ini-values: memory_limit=-1

      - name: Update the search index
        run: scripts/search-index
        env:
          ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
