@import "../includes";

.archive {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
}
.archive > * {
  padding-left: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;

  @include mq(from s) {
    width: 50%;
  }
}
.archive figure img {
  border: 1px solid #ddd;
  border-bottom: 0;
}
.archive figcaption {
  font-family: $font-mono;
  padding-top: .5rem;
  text-align: center;
}
