@import "../includes";

.pricing {
  margin: 0 auto 3rem;
}

.pricing section {
  border: 2px solid $color-yellow;
  margin: 0 auto 6rem;
  max-width: 25rem;
  padding: 4.5rem 3rem;
  text-align: center;
}

.pricing section .h1 del {
  color: #999;
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
  margin-right: .25rem;
  position: relative;
  text-decoration: none;

  &::after {
    background: #999;
    content: "";
    height: 2px;
    left: -.25rem;
    margin-top: -1px;
    position: absolute;
    right: -.25rem;
    top: 50%;
  }
}

.sale {
  font-weight: 700;
}

.pricing section .h1 small {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
}

.pricing section p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.pricing .vat {
  font-size: .75rem;
}

.pricing .cta {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 12rem;
}

.pricing .cta svg {
  margin-right: 1rem;
}

.pricing .cta svg * {
  fill: $color-syntax-yellow;
}

.pricing h2 small {
  display: block;
  font-weight: 400;
  letter-spacing: 0;
  padding-top: .25rem;
}

.addons {
  --columns: 1;

  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 9rem;
}

@include mq(from s) {
  .addons {
    --columns: 2;
  }
}

@include mq(from m) {
  .addons {
    --columns: 4;
  }
}

.addons p {
  color: rgba($color-anthracite, .8);
}

.addons p a {
  color: $color-black;
  text-decoration: underline;
}

.addons p strong {
  color: $color-black;
  font-weight: 500;
}

.faq {
  column-gap: 3rem;
  columns: 1;
}

@include mq(from m) {
  .faq {
    columns: 2;
  }
}

.faq li {
  margin: 1.5rem 0;
}

.faq .text table {
  border: 1px solid $color-border;
}
