@import "../includes";

html {
  background: #fff;
  overflow: hidden;
}

body {
  display: block;
  overflow: hidden;
}

/** Global stuff **/

.cheatsheet.is-loading {
  pointer-events: none;
}

/** Layout **/

.cheatsheet-panels {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 100%;
}

.cheatsheet-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
}

.cheatsheet-panel-header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-shrink: 0;
  height: 2.5rem;
  justify-content: space-between;
  padding: 0 1.5rem;

  @include mq(from m) {
    display: none;
  }
}

/**
 * 1. Needs to be `block`, as some older browsers incl. Mobile Safari on
 *    iOS 10.3 do not support flexbox on button elements.
 */
.cheatsheet-panel-header button {
  background: none;
  border: 0;
  cursor: pointer;
  display: block; /* 1 */
  font: inherit;
  font-size: .875rem;
}

.cheatsheet-panel-header button svg {
  margin-right: .5rem;
  position: relative;
  top: .0625rem;
}

.cheatsheet-panel-scrollarea {
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.cheatsheet-main {
  background: $color-white;
  flex-basis: 100%;

  @include mq(from m) {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20rem;
  }
}

/**
 * 1. Workaround for a bug in Firefox (tested with v66.0.1),
 *    that `padding-bottom` on an element with
 *    `overflow-y: auto/scroll`.
 */
.cheatsheet-main-scrollarea {
  padding: 1.5rem 1.5rem 0; /* 1 */

  > *:last-child {
    margin-bottom: 1.5rem !important; /* 1 */
  }

  @include mq(from m) {
    padding: 3rem 3rem 0; /* 1 */

    > *:last-child {
      margin-bottom: 3rem !important; /* 1 */
    }
  }
}

/** Modes **/
@include mq(to m) {
  .cheatsheet-sections,
  .cheatsheet-entries {
    display: none;
  }

  .cheatsheet[data-show="menu"] {
    .cheatsheet-panel {
      display: none;
    }

    .cheatsheet-sections {
      display: flex;
    }
  }

  .cheatsheet[data-show="entries"] {
    .cheatsheet-panel {
      display: none;
    }

    .cheatsheet-entries {
      display: flex;
    }
  }
}

/** Header **/

.cheatsheet-header {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  height: 2.5rem;
  position: relative;
  z-index: 1000000;
}

.cheatsheet-back {
  align-items: center;
  display: flex;
  margin-left: auto;
  padding: 0 1.5rem;
}

.cheatsheet-back > span {
  font-family: $font-mono;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
  padding-left: .5rem;

  @include mq(to m) {
    display: none;
  }
}

.cheatsheet-header h1 {
  font-family: $font-mono;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
  padding: 0 1.5rem;

  @include mq(from m) {
    width: 11rem;
  }
}

.cheatsheet-header-left,
.cheatsheet-header-right {
  align-items: center;
  display: flex;
}

/** Search Form **/

.cheatsheet-header form {
  align-items: center;
  border-left: 1px solid rgba(#fff, .3);
  border-right: 1px solid rgba(#fff, .3);
  display: flex;
  flex-basis: 20%;
  flex-grow: 1;
  height: 2.5rem;
  margin-left: 0;
  position: relative;

  @include mq(from m) {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 16rem;
  }
}

.cheatsheet-header form svg {
  margin-left: 1.25rem;
  position: relative;
  top: .125rem;
}

.cheatsheet-header form svg * {
  fill: $color-white;
}

.cheatsheet-header form:focus-within svg * {
  fill: $color-syntax-yellow;
}

/**
 * 1. Must be at least 1rem/16px, to prevent trigger page
 *    zoom in Mobile Safari (tested with v12.2),
 *    when the input is focussed.
 */
.cheatsheet-header form input {
  background: none;
  border: 0;
  color: $color-white;
  font: inherit;
  font-size: 1rem; /* 1 */
  height: 2.5rem;
  outline: 0;
  padding: 0 1rem;
  width: 100%;

  &:focus {
    color: $color-syntax-yellow;
  }
}

.cheatsheet-header .awesomplete ul {
  background: #000;
  box-shadow: rgba(#000, .2) 0 2px 20px;
  color: #fff;
  font-size: .875rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

.cheatsheet-header .awesomplete li {
  cursor: pointer;
  line-height: 1.25em;
  margin: 0;
  overflow: hidden;
  padding: .75rem 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cheatsheet-header .awesomplete strong {
  display: block;
  font-size: .875rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cheatsheet-header .awesomplete small {
  display: block;
  font-size: .75rem;
  opacity: .5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cheatsheet-header .awesomplete li[aria-selected="true"],
.cheatsheet-header .awesomplete li:hover {
  background: lighten($color-dark-gray, 5%);

  & small {
    color: #fff;
  }
}

.cheatsheet-header .menu-search-view-all {
  align-items: center;
  display: flex;
}

@include mq(to 28em) {
  /**
   * Hide all header items, except for the search form on
   * very small screens (i.e. smartphones) and expand the
   * search field to span the whole page.
   */
  :root.is-menu-search-open .cheatsheet-header > :not(form) {
    display: none;
  }
}

/** Sections Navigation **/

.cheatsheet-sections {
  background: $color-background;
  border-right: 1px solid #ddd;
  flex-basis: 100%;

  @include mq(from m) {
    flex-basis: 11rem;
    flex-grow: 0;
  }
}

.cheatsheet-sections section {
  padding: .75rem 0;
}

.cheatsheet-sections h2 {
  font-family: $font-mono;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: .25rem;
  padding: 0 1.5rem;
}

.cheatsheet-sections li {
  font-family: $font-mono;
  font-size: .75rem;
}

.cheatsheet-sections li a {
  display: block;
  padding: .25rem 1.5rem;
}

.cheatsheet-sections li a[aria-current] {
  background: #ddd;
}

/** Entries Navigation **/

.cheatsheet-entries {
  background: $color-white;
  border-right: 1px solid #ddd;
  flex-basis: 100%;

  @include mq(from m) {
    flex-basis: 20%;
    flex-grow: 0;
    min-width: 16rem;
  }
}

.cheatsheet-entries-scrollarea {
  padding: 0 1.5rem;
}

/* Cheatsheet list entry */

.cheatsheet-entries li {
  border-bottom: 1px solid rgba(#000, .1);
  font-size: .75rem;
  position: relative;
}

.cheatsheet-entries li a {
  align-items: center;
  display: flex;
  justify-content: stretch;
  outline: 0;
  padding: .75rem 0;
}

.cheatsheet-entries li a[aria-current]::after {
  background: $color-syntax-yellow;
  bottom: 0;
  content: "";
  left: -1.5rem;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 6px;
  z-index: 1000;
}

.cheatsheet-entry-icon {
  align-items: center;
  background: $color-background;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-right: .75rem;
  width: 2rem;
}

.cheatsheet-entry-icon svg {
  height: 1rem;
  width: 1rem;
}

.cheatsheet-entries li a div {
  flex: 0 1 100%;
}

.cheatsheet-entries li a strong {
  display: flex;
  font-family: $font-mono;
  font-weight: 500;
  width: 100%;
}

.cheatsheet-entries li a strong span:first-child {
  flex: 1 1 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cheatsheet-entries li a strong span + span {
  background: #fff;
  color: #999;
  flex: 0 0 auto;
  margin-left: 1ch;
}

.cheatsheet-entries li a small {
  color: #777;
  display: block;
  font-size: .75rem;
}

/** Section overview **/

.cheatsheet-section .intro {
  max-width: 45rem;
}

.cheatsheet-section-toolbar {
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.cheatsheet-section-toolbar > span {
  background: $color-background;
  border-radius: 3px;
  display: flex;
}

.cheatsheet-section-toolbar a {
  border-radius: 3px;
  display: inline-block;
  font-family: $font-mono;
  font-size: .75rem;
  line-height: 1;
  padding: .5rem 1.5rem;
  text-align: center;
  width: 7rem;
}

.cheatsheet-section-toolbar a[aria-current] {
  background: $color-syntax-yellow;
}

.cheatsheet-section-entries {
  display: grid;
  grid-auto-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.cheatsheet-section-entries a {
  border-top: 1px solid #ddd;
  display: block;
  font-family: $font-mono;
  font-size: .75rem;
  height: 100%;
  overflow: hidden;
  padding: .5rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cheatsheet-section-entries a span {
  color: #777;
}

.cheatsheet-section-entries a small {
  color: #777;
  font-size: .75rem;
}

/** Article **/

.cheatsheet-article-content {
  margin: 0 auto;
  max-width: 60rem;
  overflow: hidden;
}

.cheatsheet-article-meta {
  color: rgba($color-anthracite, .8);
  font-size: .9rem;
  margin-top: .5rem;

  svg {
    height: 13px;
    margin-right: .2rem;
    width: 13px;
  }

  > li {
    padding: .25rem 0;
  }

  @include mq(from m) {
    display: flex;

    > li {
      padding: 0 .5rem;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

/* additional inline styles */

/**
 * 1. Increase specificity to override default abbr[title] style.
 */
.cheatsheet-required.cheatsheet-required /* 1 */ {
  background: none;
  font-family: $font-mono;
  color: $color-red;
  font-weight: 700;
}
