@import "../includes";

/* -----  Hero  ---------------------------------------------------- */

.community-page-hero .intro {
  max-width: none;

  @include mq(from m) {
    columns: 2;
  }
}

/* -----  Team Section  ----------------------------------------------------- */

.community-mates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.community-mate {
  margin-bottom: 3rem;
  padding: 0 1rem;
  text-align: center;
}

.community-mate figure {
  display: block;
  margin: 0 auto;
  width: 4rem;
}

.community-mate small {
  display: block;
  font-family: $font-mono;
  line-height: 1.5;
}

.community-mate-links {
  white-space: nowrap;
}

.community-mate-links li {
  display: inline-block;
  margin: 0 .5rem;
}

.community-mate svg * {
  fill: $color-yellow;
  transition: fill .3s;
}

.community-mate svg:hover * {
  fill: $color-black;
}

/* -----  Contributors  ----------------------------------------------------- */

.community-contributors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.community-contributors li {
  line-height: 0;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  width: 3rem;
}

@supports (display: grid) {
  .community-contributors ul {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(1.5rem, 3rem));
    justify-content: space-between;
  }

  .community-contributors li {
    margin: 0;
  }
}
