@import "../includes";

/* -----  Hero  ---------------------------------------------------- */

.community-page-hero .intro {
  max-width: none;

  @include mq(from m) {
    columns: 2;
  }
}

/* -----  Plugins  ---------------------------------------------------- */

.community-plugins-container .intro {
  max-width: none;
}

.community-plugins-container {
  background: darken($color-anthracite, 5%);
  color: $color-syntax-white;
  padding: 1.5rem 1.5rem 0;
  position: relative;

  @include mq(from m) {
    padding: 3rem 3rem 1.5rem;
  }

  @include mq(from l) {
    margin: 0 -3rem;
  }
}

.community-plugins {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}

.community-plugins article {
  margin-bottom: 3rem;
  padding-left: 3rem;

  @include mq(from s) {
    width: percentage(1 / 2);
  }

  @include mq(from m) {
    width: percentage(1 / 3);
  }
}

.community-plugins article > a {
  display: block;
}

.community-plugins article h3 + p {
  color: rgba($color-syntax-white, .7);
  flex-grow: 0;
  font-family: $font-mono;
  font-size: .75rem;
  font-weight: 400;
}

/* -----  Themes  ----------------------------------------------------- */

.community-themes > div {
  background: $color-background;
}

.community-themes .intro {
  padding: 1.5rem;
}

.community-themes figure {
  flex-basis: 50%;
  flex-shrink: 0;
  line-height: 0;
}

@include mq(from m) {
  .community-themes > div {
    align-items: center;
    display: flex;
  }

  .community-themes .intro {
    padding: 3rem;
  }
}

/* -----  Team Section  ----------------------------------------------------- */

.community-mates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.community-mate {
  margin-bottom: 3rem;
  padding: 0 1rem;
  text-align: center;
}

.community-mate figure {
  display: block;
  margin: 0 auto;
  width: 4rem;
}

.community-mate small {
  display: block;
  font-family: $font-mono;
  line-height: 1.5;
}

.community-mate-links {
  white-space: nowrap;
}

.community-mate-links li {
  display: inline-block;
  margin: 0 .5rem;
}

.community-mate svg * {
  fill: $color-yellow;
  transition: fill .3s;
}

.community-mate svg:hover * {
  fill: $color-black;
}

/* -----  Contributors  ----------------------------------------------------- */

.community-contributors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.community-contributors li {
  line-height: 0;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  width: 3rem;
}

@supports (display: grid) {
  .community-contributors ul {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(1.5rem, 3rem));
    justify-content: space-between;
  }

  .community-contributors li {
    margin: 0;
  }
}
