@import "../includes";

/* -----  Hero  ---------------------------------------------------- */

.community-page-hero .intro {
  max-width: none;

  @include mq(from m) {
    columns: 2;
  }
}

/* -----  Plugins  ---------------------------------------------------- */

.community-plugins-container .intro {
  max-width: none;
}

.community-plugins-container {
  position: relative;
  padding: 1.5rem 1.5rem 0;
  background: darken($color-anthracite, 5%);
  color: $color-syntax-white;
  @include mq(from m) {
    padding: 3rem 3rem 1.5rem;
  }
  @include mq(from l) {
    margin: 0 -3rem;
  }
}

.community-plugins {
  display: flex;
  margin-left: -3rem;
  flex-wrap: wrap;
}

.community-plugins article {
  padding-left: 3rem;
  margin-bottom: 3rem;

  @include mq(from s) {
    width: percentage(1 / 2);
  }

  @include mq(from m) {
    width: percentage(1 / 3);
  }
}

/* -----  Themes  ----------------------------------------------------- */

.community-themes > div {
  background: $color-background;
}
.community-themes .intro {
  padding: 1.5rem;
}
.community-themes figure {
  line-height: 0;
  flex-basis: 50%;
  flex-shrink: 0;
}

@include mq(from m) {
  .community-themes > div {
    display: flex;
    align-items: center;
  }
  .community-themes .intro {
    padding: 3rem;
  }

}

/* -----  Team Section  ----------------------------------------------------- */

.community-mates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.community-mate {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.community-mate figure {
  display: block;
  width: 4rem;
  margin: 0 auto;
}

.community-mate small {
  display: block;
  line-height: 1.5;
  font-family: $font-mono;
}

.community-mate-links {
  white-space: nowrap;
}

.community-mate-links li {
  display: inline-block;
  margin: 0 .5rem;
}

.community-mate svg * {
  fill: $color-yellow;
  transition: fill .3s;
}

.community-mate svg:hover * {
  fill: $color-black;
}

/* -----  Contributors  ----------------------------------------------------- */

.community-contributors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.community-contributors li {
  width: 3rem;
  line-height: 0;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

@supports (display: grid) {
  .community-contributors ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1.5rem, 3rem));
    grid-gap: 1.5rem;
    justify-content: space-between;
  }

  .community-contributors li {
    margin: 0;
  }
}
