@import "../includes";
@import "../components/filter";
@import "../components/recipe-cards";

.cookbook-new {
  background: $color-syntax-yellow;
  font-size: .7rem;
  margin-left: .5rem;
  line-height: 1rem;
}
