@import "../includes";

html {
  background: #000;
}

.hero {
  margin-bottom: 3rem;
  border-bottom: 1px solid #313740;
}

.features-section {
  color: $color-syntax-white;
  margin-bottom: 6rem;
}
.features-section-header {
  margin-bottom: 1.5rem;
}
.features-intro-links {
  font-size: 1.25rem;
}
.features-section-header .h3 {
  color: $color-syntax-yellow;
  margin-bottom: .25rem;
}
.features-section-header p {
  font-family: $font-mono;
  font-size: .875rem;
}

.features-grid {
  --gutter: 2px;

  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: calc((900px - (5 * var(--gutter))) / 6);
}
.features-grid > * {
  --rows: 2;
  --cols: 2;
  position: relative;
  background: #313740;
  grid-column: span var(--cols);
  grid-row: span var(--rows);
  color: $color-syntax-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.features-grid .h3,
.features-grid .h6 {
  color: $color-white;
}

.features-grid header {
  padding: 1.5rem;
}
.features-grid .h6 {
  padding-top: .5rem;
}

.features-grid > .fading:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 4;
  width: 100%;
  background: -webkit-linear-gradient(bottom, #313740, rgba(#313740, 0));
}
.features-grid img {
  border-radius: 2px;
  box-shadow: rgba(#000, .35) 0 5px 20px;
}
.footer.-theme\:dark {
  background: #000;
}

.features-text figure {
  position: relative;
  padding: 1.5rem;
  line-height: 0;
}

.features-image figure {
  position: relative;
  padding: 3rem;
  line-height: 0;
}
.features-image.center {
  justify-content: center;
}

.features-code {
  padding: 3rem;
  justify-content: center;
}
.features-code-wrapper {
  padding: 0;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: rgba(#000, .35) 0 5px 20px !important;
  background: #000;
}
.features-code pre {
  margin-bottom: 0;
}
