@import "../includes";

/* -------------------------------------------------------------------------- */

.documentation-page .cardgrid-link svg {
  display: block;
}

.documentation-page svg * {
  stroke: $color-yellow;
}

.documentation-page .h6 {
  padding-bottom: .5rem;
  position: relative;
}

.documentation-page .h6::after {
  background: $color-border;
  bottom: -.125rem;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 2rem;
}
