@import "../includes";

.cheatsheet-icons {
  margin-bottom: 3rem;
}
.cheatsheet-icons ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.cheatsheet-icons li {
  background-image: none !important;
  padding: 0 !important;
  height: 100%;
}
.cheatsheet-icons figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-background;
  height: 12rem;
}
.cheatsheet-icon {
  width: 1rem;
  height: 1rem;
}
.cheatsheet-icon[data-size="32"] {
  width: 2rem;
  height: 2rem;
}
.cheatsheet-icon[data-size="64"] {
  width: 4rem;
  height: 4rem;
}
.cheatsheet-icon * {
  fill: #000;
}
.cheatsheet-icons[data-color="white"] figure {
  background: #000;
}
.cheatsheet-icons[data-color="white"] svg * {
  fill: #fff;
}
