@import "../includes";

.header,
.footer {
  background: #000 !important;
}
.konf-hero {
  background: #000;
  color: #fff;
  padding-bottom: 3rem;
}



.konf-hero-cta {
  align-items: center;
  border: 2px solid $color-syntax-yellow;
  display: inline-flex;
  font-family: $font-mono;
  font-size: .875rem;
  margin-right: 1.5rem;
  padding: .5rem 1.5rem;
  white-space: nowrap;
}

.konf-hero-cta svg {
  margin-right: .75rem;
}

.konf-hero-cta svg * {
  fill: currentColor;
}

.konf-hero-cta:hover {
  background: $color-syntax-yellow;
  color: #000;
}

.konf-hero-layout {
  display: flex;
}
.konf-hero-text {
  flex-shrink: 0;
  margin-right: 3rem;
}
.konf-hero-image {
  margin-bottom: -6rem;
  display: none;
  @media screen and (min-width: 60rem) {
    display: block;
  }
}
.konf-hero-image img {
  box-shadow: rgba(#000, .25) 0 5px 20px;
}

.konf-content {
  padding: 6rem 0 0;
}

.grid {
  display: grid;
  grid-gap: 3rem;
}

@media screen and (min-width: 45rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 60rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid .column {
    grid-column: span var(--cols);
  }
}

.grid img {
  display: block;
  line-height: 0;
  margin-bottom: .75rem;
}

.konf-schedule .grid {
  grid-gap: 1.5rem;
  margin-bottom: 6rem;
}
.konf-schedule .column {
  background: #fff;
  padding: 1.5rem;
  border-radius: 3px;
}

.konf-schedule h3 {
  font-family: $font-mono;
  font-size: .925rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.konf-partners {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.konf-partners a {
  margin-right: 3rem;
}
.konf-partners img {
  width: 6rem;
}


.konf-tickets .tito-wrapper {
  background: #fff;
  border: none;
  border-radius: 3px;
}
.konf-tickets .tito-ticket-description {
  font-size: .875rem;
  color: #777;
}
.konf-tickets .tito-ticket.row {
  border-bottom: 2px solid #efefef !important;
}
.konf-tickets .tito-tickets-remaining {
  border: none !important;
  border-radius: 5rem;
  padding: .25rem .75rem !important;
}
.konf-tickets .tito-submit {
  background: #000 !important;
  border-color: #000 !important;

  &:hover {
    background: $color-syntax-yellow !important;
    border-color: $color-syntax-yellow !important;
    color: #000 !important;
  }
}
