@import "../includes";

html {
  background: #000 url('../../images/components/kosmos/galaxy.jpg');
  background-position: top center;
  background-size: 650px;
  background-repeat: no-repeat;
}

.kosmos-form {
  margin-bottom: 3rem;
}

.footer {
  background: none !important;
}
