@import "../includes";

html {
  background: #000 url("../../images/components/kosmos/galaxy.jpg") top center / 650px no-repeat;
}

/* Kosmos */

.kosmos {
  background: none;
  color: #fff;
  padding-bottom: 3rem;
}

.kosmos-form {
  margin-bottom: 3rem;
}

.kosmos-issues-heading {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

/* Updates */

.updates {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}

.updates li {
  margin-bottom: 3rem;
  padding-left: 3rem;
  width: 100%;

  @include mq(from m) {
    width: percentage(1 / 3);
  }
}

.updates p {
  color: $color-syntax-white;
  font-size: .875rem;
}

.updates .icon {
  color: #fff;
  height: 3rem;
  margin-bottom: 1.5rem;
  width: 3rem;
}

/* Black Footer */
.footer {
  background: none !important;
}
