@import "../includes";

.plugin-layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}

.plugin-layout > * {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 3rem;
  width: 100%;
}

.plugin-sidebar {
  min-width: 0;
  order: 1;
}

.plugin-content {
  margin-bottom: 6rem;
  min-width: 0;
  order: 2;
}

.plugin-content img {
  max-width: 100%;
  width: auto;
}

@include mq(from m) {
  .plugin-sidebar {
    order: 2;
    width: 33.33%;
  }

  .plugin-content {
    margin-bottom: 0;
    order: 1;
    width: 66.66%;
  }
}
