@import "../includes";
@import "../components/plugin-cards";

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plugins-search {
  background: #000;
  border: 0;
  font: inherit;
  padding: .25rem 1rem;
  color: #fff;
  box-shadow: $shadow;
  margin-bottom: 1.5rem;
  flex-basis: 100%;

  @include mq(from m) {
    flex-basis: calc(66.66% - .33rem);
  }
}
.plugins-search:focus {
  color: $color-syntax-yellow;
}



.plugins-layout {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-bottom: 6rem;
}

.plugins-layout > * {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 1rem;
  width: 100%;
}

.plugins-sidebar {
  order: 1;
  min-width: 0;
}

.plugins-overview {
  order: 2;
  min-width: 0;
  margin-bottom: 6rem;
}

@include mq(from m) {
  .plugins-sidebar {
    width: 33.33%;
  }
  .plugins-overview {
    width: 66.66%;
    margin-bottom: 0;
  }
  .plugin-filters {
    position: sticky;
    top: 1.5rem;
    left: 0;
    right: 0;
  }
}

.plugins-sidebar ul {
  margin-bottom: 3rem;
}
.plugins-sidebar li {
  margin-bottom: .25rem;
  display: block;
}
.plugins-sidebar a {
  display: flex;
  align-items: center;
  font-size: .75rem;
  color: $color-anthracite;
}
.plugins-sidebar a img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: .5rem;
}


.plugin-category-icon {
  background: #000;
  margin-right: .5rem;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg * {
    fill: #fff;
  }
}

.plugins-sidebar li[aria-current] .plugin-category-icon svg * {
  fill: $color-syntax-yellow;
}
