@import "../includes";
@import "../components/plugin-cards";

html,
.footer {
  background: #000 !important;
}

.plugin .hero h1 span {
  color: #f0c674;
}

.plugin article section {
  background: #fff;
}

.plugin .hero figure {
  max-height: 60vh;
  overflow: hidden;
  border-radius: 3px;
}
.plugin .hero img {
  border-radius: 3px;
  overflow: hidden;
}

.plugin .ctas {
  display: flex;
  flex-wrap: wrap;
  margin: -.75rem;
  justify-content: space-between;
}

.plugin .ctas > span {
  display: flex;
  align-items: center;
}

.plugin .ctas a {
  margin: .75rem;
  width: 100%;
}

@include mq(to m) {
  .plugin .ctas > span {
    flex-basis: 100%;
  }
  .plugin .ctas a {
    flex-grow: 1;
    justify-content: center;
  }
}

.plugin .ctas > span:first-child .cta {
  border: 2px solid $color-syntax-blue;

  &:hover {
    background: $color-syntax-blue;
  }
}

.plugin .ctas > span:last-child .cta {
  border: 2px solid #333;

  &:hover {
    background: #333;
  }
}

.plugin .grid {
  display: grid;

  @include mq(from m) {
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
  }
}

.plugin .grid .column {
  min-width: 0;
  overflow: hidden;
}

.plugin .hero .grid {
  @include mq(from m) {
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
  }

  margin-bottom: 3rem;
}

.plugin dt {
  color: #999;
}

.plugin dl {
  background: #fff;
  padding: 1.5rem;
  border-radius: 3px;
}

.plugin dd:not(:last-child) {
  margin-bottom: .75rem;
}

.plugin dl a {
  text-decoration: underline;
}

.plugin .breadcrumb {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.plugin .breadcrumb > span > a:not(:last-child):after {
  content: "/";
  padding: 0 .5rem;
  color: #999;
}

.plugin .breadcrumb > span {
  display: flex;
}

.plugin .plugin-card {
  background: #fff;
}
