@import "../includes";

/* ========================================================================== */

/* =====  Search Controls  ================================================== */

.search-page .hero h1 {
  margin-bottom: 0;
}

.search-field {
  background: $color-black;
  display: flex;
}

.search-field:focus-within {
  outline: 2px solid $color-syntax-yellow;
  outline-offset: 2px;
}

.search-field.is-focus-within {
  outline: 2px solid $color-syntax-yellow;
  outline-offset: 2px;
}

.search-input {
  border-radius: 0;
  border: 0;
  flex-grow: 1;
  font: inherit;
  line-height: 1.5em;
  outline: 0;
  padding: .25rem 1rem;
  background: none;
  color: #fff;
}
.search-input:focus {
  color: $color-syntax-yellow;
}

.search-submit {
  cursor: pointer;
  flex-grow: 0;
  height: 2rem;
  margin: 4px;
  position: relative;
  width: 37px;

  @include link-backplane($offset: 0);

  svg {
    /* Cannot use flexbox here because it does not work in
       every browser inside of <button> elements. */
    left: 50%;
    margin: -9px 0 0 -10px;
    position: absolute;
    top: 50%;
    fill: #fff;
  }
}

.search-results-count {
  margin-top: 16px;
}

.search-suggestions {
  margin-top: 56px;
  margin-bottom: 56px;
}

/* =====  Search Results  =================================================== */

.search-results {
  border: 1px solid $color-background;
  border-bottom: 0;
}

.search-result {
  border-bottom: 1px solid $color-background;
}

.search-result > a {
  display: block;
  padding: .75rem 1.5rem;
  line-height: 1.25em;
  position: relative;

  @include link-backplane($offset: 0);
}

.search-result strong {
  display: block;
  font-weight: 600;
}
.search-result small {
  font-family: $font-mono;
  font-size: .75rem;
}
.search-result aside {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: .75rem;
  font-family: $font-mono;
  color: rgba($color-anthracite, .8);
}
