@import "../includes";

.text-page-layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
}

.text-page-layout > * {
  padding-left: 3rem;
}

@include mq(from m) {
  .text-page-sidebar {
    width: percentage(1 / 3);
  }

  .text-page-body {
    width: percentage(2 / 3);
  }
}

.text-page .toc {
  background: none;
  padding: 0 1.5rem 0 0;
}

.text-page .toc h2 {
  display: none;
}
