@import "../includes";

.try-page .description {
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
}

.try-page .starterkit {
  border: 1px solid #000;
  line-height: 0;
  max-width: 30rem;
  margin: 0 auto 1.5rem;
}
