@import "../includes";

.grid {
  --columns: 12;
  --gutter: 3rem;
  display: grid;
  grid-template-columns: 1fr;
}
.grid > .column {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 55rem) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gutter);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }
}

.box {
  background: #313740;
  color: #fff;
  padding: 1.5rem;
}
.box figure {
  line-height: 0;
  margin-bottom: 1.5rem;
}
.cta {
  padding: .5rem 1rem;
  border: 2px solid #000;
  cursor: pointer;
}
.box .cta {
  background: none;
  border: 2px solid #f0c674;
  padding: .5rem 1rem;
  display: inline-flex;
  align-items: center;
}
.box .cta:hover {
  background: #f0c674;
  color: #000;
}
.box .cta:hover .cta-text {
  color: #000 !important;
}
.box button {
  cursor: pointer;
}
.box form[disabled] {
  cursor: progress;
}
.box form[disabled] button {
  pointer-events: none;
}
.box form[disabled] .cta {
  opacity: .5;
}
.box .cta svg {
  margin-right: .75rem;
  margin-top: -1px;
}
.box .cta svg * {
  fill: #fff;
}
.box .cta:hover svg * {
  fill: #000;
}
.kit {
  background: #efefef;
  padding: 1.5rem;
  margin-bottom: .5rem;
}
.local {
  padding-top: 1.5rem;
}
