@import "../includes";

.grid {
  column-gap: 3rem;
  columns: 1;

  @include mq(from s) {
    columns: 2;
  }
}

.grid > * {
  display: inline-block;
  margin-bottom: 3rem;
}

.section h2 {
  position: relative;
}

.section h2 a {
  display: block;
  margin-bottom: 4.5rem;
}

.section h2 a::before {
  border-top: 4px solid $color-syntax-yellow;
  bottom: -1.75rem;
  content: " ";
  font-family: $font-mono;
  font-size: .75rem;
  font-weight: 400;
  padding-top: .45rem;
  position: absolute;
  width: 2rem;
}

#developers {
  color: $color-syntax-white;
}

#developers h2,
#developers h3 {
  color: #fff;
}

#developers h2 {
  font-weight: 600;
}

#developers h3 {
  font-weight: 400;
}
